.galleryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding-top: 50px;
}

.galleryItem {
  overflow: hidden;
  border-radius: 12px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
