---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Is it still available?">
  <main>
    <p>Is it still available?</p>
    <h1>
      It's pending pickup, but if you're interested, you could still email me!
    </h1>
    <p><em>last updated Monday June 12 17:22</em></p>
  </main>
</Layout>
