---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Is it still available?">
  <main>
    <p>Is it still available?</p>
    <h1>no</h1>
    <p><em>last updated Monday June 12 21:57</em></p>
  </main>
</Layout>
