---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { formatDate } from "../../lib/helpers.js";

const scrapbook = await fetch("https://scrapbook.hackclub.com/api/users/ella");
const scraps = await scrapbook.json();
const randomPost = scraps["posts"][0];
---

<Layout title="hi">
  <main>
    <h1>HELLO THERE.</h1>
    <p>It appears as though you have stumbled upon my website.</p>
    <img src="https://github.com/exu3.png" alt="cat" style="width: 200px;" />
    <p>
      In case you were wondering, here is a snippet of what I was up to on {
        formatDate(randomPost["postedAt"])
      }. Every so often this page gets updated.
    </p>
    <ul role="list" class="card-grid">
      <Card
        title={formatDate(randomPost["postedAt"])}
        body={randomPost["text"]}
        attachments={randomPost["attachments"]}
      />
    </ul>
  </main>
  <footer class="footer">
    <a href="#"
      ><img
        src="https://emoji.slack-edge.com/T0266FRGM/wasabi/2122443232a9a774.jpg"
        alt="dog"
      /></a
    >
    <a href="https://github.com/exu3">GitHub</a>
    <a href="#"
      ><img
        src="https://emoji.slack-edge.com/T0266FRGM/snake-jazz/67608ee14a2aa94f.png"
        alt="snake jazz"
      /></a
    >
  </footer>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  .footer {
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer img {
    width: 1.5rem;
    margin: 0 0.5rem;
  }
</style>
