---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import QRCode from "../components/QRCode.astro";

import { formatDate } from "../../lib/helpers.js";

const scrapbook = await fetch("https://scrapbook.hackclub.com/api/users/ella");
const scraps = await scrapbook.json();
const randomPost = scraps["posts"][0];
---

<Layout title="hi">
  <main>
    <h1>HELLO THERE.</h1>
    <p>It appears as though you have stumbled upon my website.</p>
    <p>
      I'm a maker of things and doer of stuff, just having a human experience.
    </p>
    <QRCode color="rbg(0,0,0)" width={500} height={500} bgColor="none" />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
